<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sublogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sublogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FriendActivity"></activity>
        <activity android:name=".PersonActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CommentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FindFriendActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ClickPostActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>